body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #b0cac7;
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.bottom-container {

}

.profile {
  margin-top: 50px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
